/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1abc9c;
}

/* Sections */
section {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    font-size: 2.2em;
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 10px;
}

#home {
    background: url('hero.jpg') no-repeat center center;
    background-size: cover;
    color: #030506;
    padding: 80px 20px;
    text-align: center;
    border-radius: 10px;
}

#home h2 {
    font-size: 2.5em;
}

#home p {
    font-size: 1.2em;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 8px;
}

.product h3 {
    margin: 0;
    font-size: 1.4em;
}

.product p {
    margin: 5px 0 0;
    font-size: 0.95em;
}

.product a {
    color: #1abc9c;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s;
}

.product a:hover {
    color: #16a085;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color:rgb(248, 242, 242);
}
button:hover {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fe0808;
    color:rgb(248, 242, 242);
}